---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Gabriel Perez" description="About Gabriel Perez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Gabriel Perez at prospera honduras"
				/>
			</Hero>

			<section>
				<h2 class="section-title">About Me</h2>
				<div class="content">
					<p>
						Hello and welcome! My name might not be immediately familiar to you, but allow me to introduce myself. At the age of 22, I hail from the picturesque and culturally rich landscapes of Honduras. Fluent in my native tongue, Spanish, I also possess a strong command of English, allowing me to bridge connections in the global arena.
					</p>
					<p>
						Diving into the world of software development at a mere age of 18, I have amassed over four years of experience in this dynamic field. My technical repertoire includes mastery over a multitude of technologies, some of which are Flutter, React, Laravel, Node.js, and TypeScript. Beyond just developing, I have foundational skills in DevOps, ensuring that I understand the full lifecycle of software, from its inception to deployment, and the necessary infrastructure behind it.
					</p>
					<p>
						But what truly sets me apart is not just my skills but my passion for learning. The tech world is perpetually evolving, and so am I. Each day offers a new opportunity to delve into emerging technologies and the latest best practices in software development. This constant drive for knowledge ensures that I am always at the forefront, equipped with the latest tools and methodologies to provide the best solutions for any challenge.
					</p>
					<p>
						Should you wish to embark on a technological journey with someone who values innovation, growth, and quality, look no further. Let's collaborate and transform your vision into reality.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p>I have 4+ years of experience in web development with Laravel/React and 2+ years in cross-platform mobile application development with Flutter</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Laravel</p>
					<p>Flutter</p>
					<p>REACT</p>
					<p>PHP</p>
					<p>DART</p>
					<p>JS</p>
					<p>Typescipt</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
